@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Noto+Sans:wght@400;500;600;700&family=Noto+Serif+JP:wght@400;500&display=swap');

:root {
  --bg-black: #191c22;
  --post-black: #121212;
  --secondary-orange: #ff9700;
  --main-orange: #ffc306;
  --text-grey: #a9a9a9;
  --header-grey: #2d3338;
  --text-size: 0.9rem;
  --logo-size: 1rem;
  --header-size: 2rem;
  --title-font: 'Noto Sans', sans-serif;
  --section-height: calc(100vh - 56px);
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 56px;
}

body {
  background-color: var(--bg-black);
  color: var(--bg-black);
  font-size: var(--text-size);
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav,
header,
main,
footer {
  padding: 0 48px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* -- NAVBAR -- */
nav {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bg-black);
  box-shadow: 0 0 10px 0 var(--header-grey);
  z-index: 1;
}

.nav-left > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--logo-size);
  color: var(--text-grey);
}

#logo {
  height: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-family: var(--title-font);
}

.nav-links,
.footer-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links > li > a {
  color: white;
}

.nav-links > li > a:hover {
  color: var(--main-orange);
  transition: ease-in-out 0.3s;
}

.toggle-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.toggle-button > img {
  width: 40px;
}

.menu-button {
  display: none;
}

/* -- HEADER -- */
header {
  background-image: linear-gradient(to top right, #ff9700, #ffc306);
  height: calc(var(--section-height) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  text-wrap: balance;
}

header > h1 {
  font-size: var(--header-size);
  font-weight: 700;
  color: #623d05;
}

header > p {
  font-size: inherit;
  color: #8a5f1f;
  line-height: 1.8;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 480px;
  height: 40px;
  background-color: #ffebcc;
  border: #e7a84b 1px solid;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.searchbox input {
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 16px;
  padding: 0 0 0 42px;
  width: inherit;
  height: inherit;
  border: none;
  text-overflow: ellipsis;
  background: transparent;
  background-image: url('search.png');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px center;
  transition: linear 100ms;
  color: #757575;
}

.searchbox input:focus {
  outline: none;
  background-color: #fff5e6;
  color: #623d05;
  transition: linear 100ms;
}

/* -- MAIN -- */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 2rem 3rem;
  font-family: var(--title-font);
  color: white;
}

/* BLOG SECTION */
#blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 4rem;
}

.category {
  border-radius: 16px;
}

.category > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.category > h3,
.posts-root {
  padding: 1rem 0;
}

.posts-root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.posts,
.trending-posts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.posts::after,
.trending-posts::after {
  content: '';
  height: 2px;
  width: 90px;
  background-color: var(--secondary-orange);
  border-radius: 8px;
}

.post-link {
  color: inherit;
}

.posts:hover,
.trending-posts:hover {
  color: var(--secondary-orange);
  transition: ease-in-out 0.3s;
}

.author-date {
  font-size: 0.8rem;
  color: var(--text-grey);
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  opacity: 0.8;
}

.author-date > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-date > span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2rem;
}

.view-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--secondary-orange);
  font-size: 0.85rem;
  font-weight: 500;
}

.view-more > span {
  scale: 1.2;
  margin-left: 0.5rem;
  transition: ease-in-out 0.2s;
}

.view-more:hover > span {
  transform: translateX(4px);
  transition: ease-in-out 0.2s;
}

.category.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.category.trending > section {
  padding: 0 1rem;
}

.category.trending h3 {
  text-align: center;
}

/* TEAM SECTION */
#team,
#careers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 1rem;
}

#team {
  margin: 2rem 0;
  width: calc(100% + 6rem);
  background-color: var(--post-black);
}

#team > p,
#careers > p {
  color: var(--text-grey);
}

#team-members {
  padding: 0;
  margin: 3rem 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--text-grey);
  font-size: 0.8rem;
}

.individual > img {
  width: 100px;
  border-radius: 50%;
}

/* CAREERS SECTION */
#careers > p,
#careers > a {
  margin-bottom: 2.5rem;
}

/* -- FOOTER -- */
footer {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  border-top: 2px solid var(--header-grey);
  color: var(--text-grey);
  font-family: var(--title-font);
  font-size: 0.8rem;
}

.footer-links > li > a {
  color: var(--text-grey);
}

/* -- RESPONSIVE -- */
@media (width < 1024px) {
  .nav-left a {
    font-size: 0.8rem;
  }

  .nav-links {
    display: none;
  }

  .menu-button {
    display: flex;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  .menu-button img {
    width: 40px;
  }

  .toggle-button {
    display: none;
  }

  header {
    height: fit-content;
    padding: 2rem 3rem;
  }

  header p {
    text-wrap: balance;
  }

  .searchbox {
    width: 60%;
  }

  main {
    padding: 1rem 2rem;
  }

  #blog {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .category {
    min-width: 320px;
  }

  #team-members {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
