:root {
  --bg-black: #191c22;
  --post-black: #121212;
  --secondary-orange: #ff9700;
  --main-orange: #ffc306;
  --text-grey: #abb8c3;
  --header-grey: #2d3338;
  --text-size: 1.2rem;
  --header-size: 1.5rem;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-black);
  color: white;
  font-size: var(--text-size);
  margin: 0;
}

a {
  text-decoration: none;
}

nav,
header,
main,
footer {
  padding: 12px 48px;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--header-size);
  color: var(--text-grey);
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: white;
}

.toggle-button {
  background-color: inherit;
  border: none;
}

.toggle-button img {
  width: 50px;
}

header {
  background-color: var(--main-orange);
  height: calc(100vh - 110px);
}
